*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color:#9A8367;
}
a{
    color: #fff !important;
}
a:hover{
    color: #000 !important;
}
/*-- slide part---*/

.slide-part{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.hero-section{
    padding-top:-50px;
    height: 100vh;
}
.typed{
    color:#fff;
    font-size: 50px;
}
/* about section */
.over-lay{
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: #9A8367;
    z-index: -1;
    
}
.bg-golden{
    background-color: #9A8367;
}
.about-img{
    max-height: 500px;
    min-height: 300px;
    transition: all .5s ease-in-out
}
.about-img img {
    max-height: 500px;
    min-height: 300px;
}
.about-img:hover{
    padding-left:20px;
    padding-top:20px;
    transition: all .5s ease-in-out;
}
.about-title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Josefin Sans',sans-serif;
    line-height: 43px;
    color: #333333;
    letter-spacing: 2px;
}
@media(max-width:1000px){
    .typed{
        font-size: 25px;
    }
}
@media(max-width:768px){
    .typed{
        font-size: 20px;
    }
}
